[submodule "submodules/libzmq"]
	path = submodules/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "submodules/cppzmq"]
	path = submodules/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "submodules/flatbuffers"]
	path = submodules/flatbuffers
	url = https://github.com/google/flatbuffers.git
